body {
    background-color: #333030;
    color: #00bd9c;
    
    
}

h1 {
    text-align:center; 
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size:500%;
}

td {
    width: 125px;
    height: 125px;
  }
  table {
    margin: 5px auto;
  }
  .vert {
    border-left: 4px solid black;
    border-right: 4px solid black;
  }
  .hori {
    border-top: 4px solid black;
    border-bottom: 4px solid black;
  }

  .button1{
    opacity: 0;
    text-align: center;
    left: 2px;
    top: -1px;
    background: transparent;
    border: none !important;
    width: 80px;
    height: 80px;
    font-size: 60px;
    padding: 5px 50px 50px;
  }

  .button2 {
    opacity: 0;
    text-align: center;
    top: 50%;
    background: transparent;
    border: none !important;
    width: 80px;
    height: 80px;
    font-size: 60px;
    padding: 5px 50px 50px;
  }

  .button3{
        opacity: 0;
    text-align: center;
    top: 50%;
    background: transparent;
    border: none !important;
    width: 80px;
    height: 80px;
    font-size: 60px;
    padding: 5px 50px 50px;
  }

  .button4{
        opacity: 0;
    text-align: center;
    top: 50%;
    background: transparent;
    border: none !important;
    width: 80px;
    height: 80px;
    font-size: 60px;
    padding: 5px 50px 50px;
  }

  .button5{
        opacity: 0;
    text-align: center;
    top: 50%;
    background: transparent;
    border: none !important;
    width: 80px;
    height: 80px;
    font-size: 60px;
    padding: 5px 50px 50px;
  }

  .button6{
        opacity: 0;
    text-align: center;
    top: 50%;
    background: transparent;
    border: none !important;
    width: 80px;
    height: 80px;
    font-size: 60px;
    padding: 5px 50px 50px;
  }

  .button7{
        opacity: 0;
    text-align: center;
    top: 50%;
    background: transparent;
    border: none !important;
    width: 80px;
    height: 80px;
    font-size: 60px;
    padding: 5px 50px 50px;
  }

  .button8{
        opacity: 0;
    text-align: center;
    top: 50%;
    background: transparent;
    border: none !important;
    width: 80px;
    height: 80px;
    font-size: 60px;
    padding: 5px 50px 50px;
  }

  .button9{
        opacity: 0;
    text-align: center;
    top: 50%;
    background: transparent;
    border: none !important;
    width: 80px;
    height: 80px;
    font-size: 60px;
    padding: 5px 50px 50px;
  }
  
