body {
    background-color: #00d1b2;
    color: #fff;
    
    
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}

h1 {
    text-align:center; 
    font-family: BlinkMacSystemFont,-apple-system,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size:500%;
}


.my_image {
    width: 120px;
}

.user_image {
    width: 120px;
}

button {
    margin:0 auto;
    display:block;
    border: 3px solid black; 
    border-radius: 5%;
    width: 15%;
    height: 15%;

}

button:hover {
    background-color: #00d1b2;
    color: white;
  }