{% extends "base.html" %}

{% block content %}
<br>
<h1 class="title">Open Lobbies</h1>

{% for lobby in created_lobbies %}
<button class="lobby_button" id="lobby_button_id">
    <a href="{{ lobby }}" id="lobby_list">Lobby {{ loop.index }}</a>
</button>
<br>
{% endfor %}

<br>

<button class ="waitingRoom_ button" id="waiting_room">
    <a href="#" id="waiting_room_link">Create Lobby</a>
</button>
<script>
    let dynamic_path = "/" + Math.random().toString(16).substr(2, 8);
    let link = document.getElementById("waiting_room_link");
    // link.setAttribute('href', "/waiting_room" + dynamic_path);
    link.setAttribute('href', "/board" + dynamic_path);
</script>

{% endblock %}